* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./monet.jpg) center/cover;
  height: 100%;
  min-height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: white;
  margin-left: 15px;
  font-size: large;
  text-align: center;
}

img {
  margin-left: 15px;
}

a {
  color: rgb(3, 88, 199);
  font-size: large;
}

h1 {
  font-size: 30px;
  margin-left: 15px;
}

.top > h1 {
  color: bisque;
  text-align: center;
}

.presentation {
  text-align: center;
}

a {
  margin-left: 15px;
}

.Mona h1 {
  color: beige;
}

.athenes h1 {
  color: orangered;
}

.Mona a {
  display: flex;
  justify-content: center;
}

.adam a {
  display: flex;
  justify-content: center;
}

.athenes a {
  display: flex;
  justify-content: center;
}
