header {
  height: 15vh;
  width: 100%;
}

body {
  background: url(./holi-orange-colore-foule_23-2148129354.jpg);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-style: oblique;
}

a {
  color: rgb(3, 88, 199);
  font-size: large;
}

h3 {
  color: rgba(0, 4, 255, 0.658);
}
